
body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background: #e0ffe0;
}

.p1 {
    color: darkgreen;
}

.p2 {
    color: darkblue;
    text-decoration: underline;
}

.p3 {
    color: purple;
    font-style: italic;
}

a:hover {
    color: red;
    font-size: 18px;
}

footer {
    margin-top: 40px;
    padding: 15px;
    background: #c0ffc0;
}
